*, *::after, *::before{
    box-sizing: border-box;
}

body{
    margin: 0;
}

ul{
    padding-left: 0;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}
img{
    width: 100%;
}

.db-container{
    max-width: 1240px;
    margin: 0 auto;
}

.header__content{
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.navbar__logo{
    max-width: 64px;
}

.nav__list{
    display: flex;

}
